<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>About Hyattsville Bakery</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul>
                    <li><a href="/">Home</a> /</li>
                    <li><a class="active" href="about">About</a> /</li>
                    <li><a href="menu">Menu</a> /</li>
                    <li><a href="location">Location</a></li>
                </ul>
            </nav>
            <h1>Hyattsville Bakery</h1>
        </div>
        <div class="main about">
            <div class="row">
                <div class="left">
                    <img src="./images/carlos1.jpg">
                </div>
                <div class="right content">
                    <h1>Carlos Jiménez JR</h1>
                    <p>
                        Carlos Jiménez JR was born in Tegucigalpa, Honduras in 1973.
                        As a poor child growing up in the inner city, his dream was to escape poverty and find a better life.
                        After meeting his wife, Griselda, they came up with the idea of opening up a panadería in one of the city's nicer neighborhoods.
                        Unfortunately, due to growing violence it was difficult to maintain the bakery and local gang leaders continually pressured Carlos to pay money to keep his business safe.
                        But it was never safe enough, and so Carlos dreamed of moving his bakery from Honduras to a country that could provide a more stable life, the United States.
                        He tried and he tried, but the visa process proved to be too difficult and it seemed that US government would not let him in.
                        Then one tragic night, the violence grew to such a point that there was no other option. He had to flee. So he took his family and headed for the US border to seek asylum.
                        Luckily, after a grueling process, Carlos asylum was granted and he ended up in Hyattsville, MD where he worked odd jobs saving to open up his bakery.
                        Eventually, Carlos was able to save enough to open up Hyattsville Bakery, offering the community with fresh baked goods that are sure to delight. 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="left">
                    <h1>The Bakery</h1>
                    <p>
                        The bakery has been operating since 2015 and is located in the heart of downtown Hyattsville.
                        We are proud to be featured annually in Hyattsville magazine's top local restaurants.
                        We've been featured in Diner Drive Ins and Dives and Guy Fiete loved our signature homeade donuts!
                    </p>
                </div>
                <div class="right">
                    <img src="./images/carlos2.jpg" />
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Website designed by Corey Cunningham &copy; 2020 | Images from Pexels.com</p>
        </div>
    </div>
</body>
</html>