<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="./scripts/admin.js"></script>
    <title>Admin</title>
</head>
<body>
    <div class="container" style="width: 80%; margin: 0 auto">
        <div class="create-blog" style="margin: 40px 0">
            <h1>Create new blog</h1>
            <form enctype="multipart/form-data"
                id="new-blog" method="POST" action="/blog/new" style="display: flex; flex-direction: column; width: 75%;">
                <input type="file" name="image" id="image" accept="image/png, image/jpeg, image/jpg, image/gif, image/svg" >
                <input type="text" name="title" id="title" placeholder="title">
                <input type="hidden" name="id" id="id" />
                <textarea name="content" id="content" cols="30" rows="10"></textarea>
                <input style="width: 50%;" type="submit" value="Submit">
            </form>
            
        </div>
        <div class="delete-blogs">
            <p id="error"></p>
            <h1>Manage Blogs</h1>
            <ul id="entries">

            </ul>
        </div>
    </div>
</body>
</html>