<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
    <script src="./scripts/carousel.js"></script>
    <title>Hyattsville Bakery</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul>
                    <li><a class="active" href="/">Home</a> /</li>
                    <li><a href="about">About</a> /</li>
                    <li><a href="menu">Menu</a> /</li>
                    <li><a href="location">Location</a></li>
                </ul>
            </nav>
            <h1>Hyattsville Bakery</h1>
            <div>
                <img src="./images/bakery.svg" alt="icon of bakery" />
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com">
                            <img src="./images/facebook.svg">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com">
                            <img src="./images/instagram.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com">
                            <img src="./images/youtube.svg" />
                        </a>
                    </li>
                </ul>
            </div>
            <h2>123 Main Street Hyattsville, MD</h2>
        </div>
        <div class="main index">
            <div class="two-thirds">
                <h1 class="text-center">Look at our delicious cupcakes!</h1>
                <div class="carousel-wrapper">
                    <div id="carousel">
                        <a id="leftArrow" class="btn prev">
                            <img class="btn__icon" src="./images/left.svg" />
                        </a>
                        <div class="slide">
                            <ul id="slide__box">
                                <li class="slide__each first"></li>
                                <li class="slide__each second" id=></li>
                                <li class="slide__each third"></li>
                            </ul>
                        </div>
                        <a id="rightArrow" class="btn next">
                            <img class="btn__icon" src="./images/right.svg" />
                        </a>
                    </div>
                    <div class="pagination">
                        <span class="pagination__dot on"></span>
                        <span class="pagination__dot"></span>
                        <span class="pagination__dot"></span>
                        <!-- <span class="pagination__dot"></span>
                        <span class="pagination__dot"></span> -->
                    </div>
                </div>
            </div>
            <div class="one-third">
                <div class="about">
                    <h1>About us...</h1>
                    <p>Hyattsville bakery is a family owned bakery that has been operating since 2015.
                        We offer a great selection of baked goods that are sure to hit that sweet spot.
                        <a href="about.html">Learn more... </a>
                    </p>
                </div>
                <div class="blog">
                    <h1>Blog posts</h1>
                    <ul>
                        <li>
                            <a href="blog/1">Creating Amazing Cupcakes</a>
                        </li>
                        <li>
                            <a href="blog/2">I Never Thought I Would Like Vegan Cupcakes?</a>
                        </li>
                        <li>
                            <a href="blog/3">
                                Our Master Baker's Experience on Iron Chef
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <div class="footer">
            <p>Website designed by Corey Cunningham &copy; 2020 | Cupcake images from Pexels.com</p>
        </div>
    </div>
</body>
</html>