<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Hyattsville Bakery</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul>
                    <li><a href="/">Home</a> /</li>
                    <li><a href="about">About</a> /</li>
                    <li><a class="active" href="menu">Menu</a> /</li>
                    <li><a href="location">Location</a></li>
                </ul>
            </nav>
            <h1>Hyattsville Bakery</h1>
        </div>
        <div class="main menu">
            <form method="get" action="menu.pdf">
                <button>Download Menu</button>
            </form>
            <h1 class="text-center">Today's Cupcake Menu</h1>
            <div class="menu-item">
                <img src="images/cupcake1.jpg">
                <div class="description">
                    <h1>Pumpkin Cheesecake Frosted</h1>
                    <h3>$3.99/each</h3>
                    <p>Delicious pumpkin flavored batter with cheesecake frosting</p>
                </div>
            </div>
            <div class="menu-item">
                <img src="images/cupcake2.jpg">
                <div class="description">
                    <h1>Lemon Zest Vanilla Fruitsplosion</h1>
                    <h3>$3.99/each</h3>
                    <p>Scrumptous lemon flavored cake, vanilla, frosting, fresh berries</p>
                </div>
            </div>
            <div class="menu-item">
                <img src="images/cupcake3.jpg">
                <div class="description">
                    <h1>Reese's Peanutbutter</h1>
                    <h3>$3.99/each</h3>
                    <p>Moist chocolate cake, chocolate frosting, peanutbutter filling</p>
                </div>
            </div>
        </div>
        </div>
        <div class="footer">
            <p>Website designed by Corey Cunningham &copy; 2020</p>
        </div>
    </div>
</body>
</html>